{% extends 'account/_base.html' %}
{% load i18n %}
{% load bulma_tags %}
{% block title %}{% translate "Change password" %}{% endblock %}
{% block content_auth_form %}
{% if token_fail %}
<h2 class="subtitle colored is-4">{% translate "Invalid token" %}</h2>
{% url 'account_reset_password' as the_url %}
  <p>{% blocktranslate %}The password reset link was invalid. Perhaps it has already been used?  Please request a <a href="{% the_url %}">new password reset</a>.{% endblocktranslate %}</p>
{% else %}
  {% if form %}
  <h2 class="subtitle colored is-4">{% translate "Change password" %}</h2>
  <form class="block" method="post">
    {% csrf_token %}
    {{ form|bulma }}
    <div class="field">
      <button type="submit" class="button is-primary">{% translate "Change password" %}</button>
    </div>
  </form>
  {% else %}
  <h2 class="subtitle colored is-4">{% translate "All done!" %}</h2>
  <p>{% translate "Your password is now changed." %}</p>
  {% endif %}
{% endif %}
{% endblock content_auth_form %}