{% extends 'account/_base.html' %}
{% load bulma_tags %}
{% block title %}Change password{% endblock %}
{% block content_auth_form %}
{% if token_fail %}
<h2 class="subtitle colored is-4">Invalid token</h2>
  <p>The password reset link was invalid. Perhaps it has already been used?  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
{% else %}
  {% if form %}
  <h2 class="subtitle colored is-4">Change password</h2>
  <form class="block" method="post">
    {% csrf_token %}
    {{ form|bulma }}
    <div class="field">
      <button type="submit" class="button is-primary">Change Password</button>
    </div>
  </form>
  {% else %}
  <h2 class="subtitle colored is-4">All done!</h2>
  <p>Your password is now changed.</p>
  {% endif %}
{% endif %}
{% endblock content_auth_form %}