{% extends 'account/_base.html' %}
{% load i18n %}
{% block title %}{% translate "Change password" %}{% endblock %}
{% block content_auth_form %}
{% if token_fail %}
<h1>{% translate "Invalid token" %}</h1>
{% url 'account_reset_password' as the_url %}
  <p>{% blocktranslate with the_url=the_url %}The password reset link was invalid. Perhaps it has already been used?  Please request a <a href="{{ the_url }}">new password reset</a>.{% endblocktranslate %}</p>
{% else %}
  {% if form %}
  <h1>{% translate "Change password" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">{% translate "Change password" %}</button>
  </form>
  {% else %}
  <h1>{% translate "All done!" %}</h1>
  <p>{% translate "Your password is now changed." %}</p>
  {% endif %}
{% endif %}
{% endblock content_auth_form %}