{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% block full_title %}{{ PROJECT_NAME }}{% endblock full_title %}
{% block content %}
<section class="page page--wide">
    {% include "includes/messages.html" %}
    <h1>
        {{ PROJECT_NAME }}
    </h1>
    <h3>
        Pages
    </h3>
    <table>
        <thead>
            <tr>
                <td>Page</td><td>Detail</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/dj-admin/">dj-admin</a></td><td>Django admin</td>
            </tr>
            <tr>
                <td><a href="/accounts/signup/">accounts/signup</a></td><td>Sign up page</td>
            </tr>
            <tr>
                <td><a href="/accounts/login/">accounts/login</a></td><td>Sign in page</td>
            </tr>
            <tr>
                <td><a href="/accounts/password/reset">accounts/password/reset</a></td><td>Reset password</td>
            </tr>
            <tr>
                <td><a href="/accounts/settings/">settings</a></td><td>Settings page</td>
            </tr>
            <tr>
                <td><a href="/feedback/">feedback</a></td><td>Feedback form</td>
            </tr>
            <tr>
                <td><a href="/terms/">terms</a></td><td>Terms (requires adding a flatpage)</td>
            </tr>
            <tr>
                <td><a href="/silk/">silk</a></td><td>Silk profiling tool</td>
            </tr>
            <tr>
                <td><a href="/api/redoc/">api/redoc</a></td><td>API docs</td>
            </tr>
        </tbody>
    </table>
    <h3>
        API endpoints
    </h3>
    <table>
        <thead>
            <tr>
                <td>Endpoint</td><td>Detail</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/api/token-auth/">api/token-auth</a></td><td>Token authentication</td>
            </tr>
            <tr>
                <td><a href="/api/protected/">api/protected</a></td><td>Example endpoint that requires token to be accessed</td>
            </tr>
        </tbody>
    </table>
    <h3>
        Tools
    </h3>
    <table>
        <thead>
            <tr>
                <td>Tool</td><td>Detail</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://localhost:8025">mailhog</a></td><td>Mailhog (has to be started via Docker Compose)</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock content %}
