{% extends '_base.html' %}
{% load bulma_tags %}
{% block title %}Settings{% endblock title %}
{% block content %}
<section class="section">
<div class="container">
<div class="columns">
    <div class="column is-3">
        <aside class="menu">
        </aside>
    </div>
    <div class="column">
      <h2 class="subtitle colored is-4">Account</h2>
      
      <form id="form_logout" class="block" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <div class="field">
          <button type="submit" class="button is-primary">Log out</button>
        </div>
      </form>
      
      <h2 class="subtitle colored is-4">Settings</h2>

      {% include "includes/messages.html" %}
      <form class="block" method="post">
        {% csrf_token %}
        {{ form|bulma }}
        <div class="field">
            <button type="submit" class="button is-primary">Update</button>
        </div>
      </form>

      <h2 class="subtitle colored is-4">Delete account</h2>

      <form id="form_delete_account" class="block" method="post" action="{% url 'delete-account' %}">
        {% csrf_token %}
        <div class="field">
          <button type="submit" class="button is-primary">Permanently delete</button>
        </div>
      </form>
    </div>
</div> 
</div>
</section>
{% endblock content %}