:root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
}
html {
  background-color: var(--background);
}
input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}
.column-auth {
  padding: 40px;
}